excel-collect/src/main/resources/collect/CollectFileCfgXsd.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="FieldType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Method" type="MethodType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="TypeType"/>
        <xs:attribute name="collect" type="IntStringType"/>
    </xs:complexType>

    <xs:simpleType name="TypeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="String|char|int|long|BigDecimal|double|float|UUID|date"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="MethodType">
        <xs:attribute name="class" type="xs:string"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="args" type="xs:string"/>
        <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="FieldsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Field" type="FieldType" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TableType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Fields" type="FieldsType"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="dir" type="xs:string"/>
        <xs:attribute name="sheet" type="xs:int" use="required"/>
        <xs:attribute name="isLoad" type="xs:boolean" use="required"/>
    </xs:complexType>

    <xs:complexType name="TablesType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Table" type="TableType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GridType">
        <xs:attribute name="row" type="IntStringType"/>
        <xs:attribute name="column" type="IntStringType"/>
        <xs:attribute name="type" type="TypeType"/>
        <xs:attribute name="format" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="SheetType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Grids" type="GridsType" minOccurs="0"/>
            <xs:element name="Groups" type="GroupsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="index" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:simpleType name="IntStringType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GridsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Grid" type="GridType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SheetsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Sheet" type="SheetType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FileOptionType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Parameters" type="ParametersType" minOccurs="0"/>
            <xs:element name="MatchFileMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="ValidFileMethods" type="methodsType" minOccurs="0"/>
            <xs:element name="PreHandleFileMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="HandleFileMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="Sheets" type="SheetsType"/>
            <xs:element name="AfterHandleFileMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="PreLoadTableMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="LoadTableMethod" type="methodsType" minOccurs="0"/>
            <xs:element name="Tables" type="TablesType"/>
            <xs:element name="AfterLoadTableMethod" type="methodsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="suffix" type="SuffixType" use="required"/>
        <xs:attribute name="dir" type="xs:string"/>
        <xs:attribute name="toDir" type="xs:string"/>
        <xs:attribute name="rename" type="xs:string"/>
        <xs:attribute name="protocol" type="ProtocolType"/>
        <xs:attribute name="mode" type="ModeType" use="required"/>
        <xs:attribute name="group" type="BoolStringType" use="required"/>
        <xs:attribute name="header" type="BoolStringType" use="required"/>
    </xs:complexType>

    <xs:simpleType name="SuffixType">
        <xs:restriction base="xs:string">
            <xs:pattern value=".xls|.xlsx"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ParametersType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Parameter" type="ParameterType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ParameterType">
        <xs:attribute name="key" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
        <xs:attribute name="type" type="TypeType" use="required"/>
    </xs:complexType>

    <xs:complexType name="methodsType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Method" type="MethodType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="BoolStringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="GroupsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Group" type="GroupType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GroupType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="Method" type="MethodType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="by" type="IntStringType" use="required"/>
        <xs:attribute name="sort" type="IntStringType"/>
        <xs:attribute name="collect" type="IntStringType" use="required"/>
        <xs:attribute name="operator" type="OperatorType"/>
    </xs:complexType>

    <xs:simpleType name="OperatorType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+|\*|list"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProtocolType">
        <xs:restriction base="xs:string">
            <xs:pattern value="sftp|local|io"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ModeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="row|column"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="FileOptionsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="FileOption" type="FileOptionType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SubItemType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="FileOptions" type="FileOptionsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="SubItemsType">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="SubItem" type="SubItemType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CollectFileCfg">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="SubItems" type="SubItemsType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>